---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<div class="message-box">
<p>Hello, website visitor! This website is under active construction, so please check me out on other platforms as I port information to this new site! Thank you very much.</p>
<ul>
<li>Interested in my <b>professional history</b>? <a href="https://www.linkedin.com/in/jameskerrane/">Please visit my LinkedIn profile.</a></li>
<li>Interested in my <b>current projects</b>? <a href="https://www.github.com/thatrobotdev">Please check out my GitHub profile!</a></li>
<li>Interested in connecting? Please email me at <a href="mailto:jkerrane3@gatech.edu">jkerrane3@gatech.edu</a>.</li>
</ul>

<p></p>

</div>

<h1>Hello, I'm James Kerrane, a first-year Computer Science student at Georgia Tech and a maker.</h1>

<h2>Resume</h2>

<iframe src="https://docs.google.com/document/d/1Tktknd450R8meYChGorVs8YTZ3fG9xy0/pub?embedded=true" width="100%" height="700em"></iframe>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the blog</a>.</p>
{% endif %}
