{%- css %}.projectlist { counter-reset: start-from {{ (projectslistCounter or
projectslist.length) + 1 }} }{% endcss %}
<ol reversed class="projectlist">
	{% for project in projectslist | reverse %}
	<li
		class="projectlist-item{% if project.url == url %} projectlist-item-active{% endif %}"
	>
		<a href="{{ project.url }}" class="projectlist-link"
			>{% if project.data.title %}{{ project.data.title }}{% else %}<code
				>{{ project.url }}</code
			>{% endif %}</a
		>
		<time
			class="projectlist-date"
			datetime="{{ project.date | htmlDateString }}"
			>{{ project.date | readableDate("LLLL yyyy") }}</time
		>
	</li>
	{% endfor %}
</ol>
