main {
    margin-top: 1.25em;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

h1,
h2,
h3,
li,
.lead,
.card-title,
.card-category,
.card-subtitle,
.card-description,
.button {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 {
    font-weight: 500;
}

.lead,
li {
    font-weight: 400;
    font-size: 1.25rem;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
}

#profile-picture {
    border-radius: 2.5%;
    width: 13em;
    border-style: solid;
    border-width: 0.1px;
    border-color: gray;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
}

.card {
    padding: 1rem 1.25rem;
    border: 1px solid #e2e2e2;
    border-radius: 12px;
}

.card-title {
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 0.25em;
}

.card-category {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 16px;
    font-weight: 600;
    padding: 0.5em;
    margin-bottom: 1em;
}

.workshop {
    background: yellow;
}

.card-subtitle {
    margin-bottom: 0.5em;
}

.card-description {
    font-size: 1rem;
}

summary {
    margin-bottom: 0.5em;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 1rem !important;
}

footer {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    font-size: 0.8rem;

    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: gray;
    color: white;
}