---
layout: base
---
<main>
    <h1>James Kerrane</h1>

    <picture>
        <source srcset="/assets/img/profile_picture.webp" type="image/webp" />
        <img src="/assets/img/profile_picture_orig.jpg" alt="Profile picture" id="profile-picture" />
    </picture>

    <ul>
        <li><a href="https://github.com/thatrobotdev">GitHub</a> (CS Projects)</li>
        <li><a href="https://bsky.app/profile/jameskerrane.com">Bluesky</a></li>
        <li><a href="https://www.linkedin.com/in/jameskerrane/">LinkedIn</a></li>
    </ul>

    <section class="lead">
        <p>Hello! I am James Kerrane, an undergraduate student studying a Bachelor of Science in Computer Science at <a
                href="https://www.scs.gatech.edu/">Georgia Tech</a> in <a
                href="https://www.scs.gatech.edu/theory">Theory</a> & <a
                href="https://www.cc.gatech.edu/academics/threads/media">Media</a> with a minor in Spanish. I've built a
            music theory wiki for high school and middle school students, a chrome extension that captions images on the
            web
            using machine learning for those who are visually impaired, and other projects. I also pursue research in
            Animal-Computer Interaction and Cognitive Psychology.</p>

        <p>In my free time, I love making singing and making music videos, running, and playing Dungeons & Dragons.</p>

        <p>This is my personal website, where I have posted some of the things I have been working on! Please reach out
            at
            <a href="mailto:hi@jameskerrane.com">hi@jameskerrane.com</a> if you want to get in contact with me.
        </p>
    </section>

    <h2 id="research">Research</h2>

    <div class="card-group">
        <div class="card">
            <div class="card-category">Paper</div>
            <div class="card-title">Pawjections:
                A Projection-Based Enrichment System for Domestic Cats</div>
            <div class="card-subtitle">In-Progress</div>
            <div class="card-subtitle">Chenyang Zhang, James Kerrane, Jillian Meng, Eduardo Valverde</div>
            <div class="card-description">
                <p>Domestic cats often lack the stimulation and opportunities for predatory play that their wild
                    counterparts experience. We created Pawjections, an interactive game system designed to encourage
                    cats to engage in active play and give them agency in their own enrichment.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-category workshop">Presentation</div>
            <div class="card-title">Multidisciplinary Development of Virtual Reality Simulations for Social Science
                Classrooms</div>
            <div class="card-subtitle">ISTELive 24 · Jun 25, 2024</div>
            <div class="card-subtitle">Aaron Chen, Carla Flanhofer, James Kerrane, Ilse Meiler, Reema Patadia, Ethan
                Wang</div>
            <div class="card-description">
                <p>This session highlighted how collaboration between computer science and social science classes can
                    lead to the exploration, development and implementation of VR programs for the purpose of
                    experiential learning, such as transforming original research design pitches (incorporating a VR
                    component) from a Psychology class into a usable VR product.</p>
            </div>
            <div class="button-group">
                <div class="button"><a
                        href="https://conference.iste.org/2024/program/search/detail_session.php?id=117207611">ISTE</a></div>
            </div>
        </div>
        <div class="card">
            <div class="card-category workshop">Presentation</div>
            <div class="card-title">
                Original, Student-Developed, VR programs for Cutting-Edge, In-Class Simulation Learning</div>
            <div class="card-subtitle">ISTELive 24 · Jun 24, 2024</div>
            <div class="card-subtitle">Aaron Chen, Carla Flanhofer, James Kerrane, Ilse Meiler, Reema Patadia, Ethan
                Wang</div>
            <div class="card-description">
                <p>In this re-imagined lesson experience, participants participated in an emulation of the
                    cross-curricular, project-based learning, including developing an idea for VR program development.
                    Participants also experienced the original, student-developed VR program for this year's selected
                    student design.</p>
            </div>
            <div class="button-group">
                <div class="button"><a
                        href="https://conference.iste.org/2024/program/search/detail_session.php?id=117381620">ISTE</a></div>
            </div>
        </div>
        <div class="card">
            <div class="card-category">Paper</div>
            <div class="card-title">
                Liminal Spaces and the Uncanny Valley: An Interdisciplinary Virtual Reality and Psychology Experimental
                Research Design</div>
            <div class="card-subtitle">Colorado Science and Engineering Fair · Apr 11, 2024</div>
            <div class="card-subtitle">Aaron Chen, Ethan Wang, and James Kerrane</div>
            <details class="card-description">
                <summary>Abstract</summary>
                <p>Liminal spaces are a subset of spaces that induce subconscious anxiety, leading to potential
                    discomfort, diminished attention, and other adverse effects. Previous studies have created similar
                    environments by removing items, adjusting lighting, and altering human presence; however, many
                    studies overlook the potential of object orientation to increase the liminality of a setting. In our
                    experiment, we utilized expertise from an online Unity certification course and research design
                    plans from our school's Senior Psychology course to develop a VR simulation for experimental
                    purposes. During our data collection process, the control group experienced a set of commonly known
                    spaces (classroom, grocery store, and library) without any alterations. In contrast, the
                    experimental group would see these spaces with disoriented objects and no other changes. Both groups
                    were prompted to advance through each room as they pleased by pressing a large button. During the
                    experiment, we tracked the participants' time spent in each room and provided a survey asking about
                    comfort levels in each space. Our findings revealed that students were less comfortable in
                    disoriented spaces, yet, oddly, they spent longer in those spaces. We attributed this correlation to
                    students being unfamiliar with those environments and staying longer to explore the new spaces. As
                    society emerges from COVID-19, bringing people back into public spaces, our discoveries about space
                    orientation and comfortability could support return initiatives. On a broader scale, this
                    demonstrates VR technology's potential within psychological experimentation and broader research
                    implementation, revolutionizing human data acquisition.</p>
            </details>
            <div class="button-group">
                <div class="button"><a href="https://github.com/thatrobotdev/liminal-vr-study">GitHub</a></div>
            </div>
        </div>
    </div>

    <!-- <h2 id="research">Selected Projects</h2> -->
</main>